* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
}

body {
    background-color: #A8DADC;
    height: 100vh;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

.hide {
    display: none;
}

.display-block {
    display: block;
}

.border-radius-8 {
    border-radius: 8px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}