* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
}

body {
    /* background-color: #A8DADC; */
    height: 100vh;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

.hide {
    display: none;
}

.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.display-flex {
    display: flex;
}

.justify-content-space-around {
    justify-content: space-around;
}

#index-main {
    padding-top: 20px
}

#index-header {
    text-align: center;
}

#index-logo {
    font-weight: bold; 
    font-size: 50px;
}

#index-content {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

#index-create-url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    width: 100%;
    max-width: 900px;
}

#index-create-url-description {
    margin-bottom: 8px;
}

#index-create-url-input {
    height: 40px;
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    border: 1px solid grey;
    border-radius: 8px;
}

#index-create-url-submit-button {
    height: 30px;
    width: 150px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}