:root {
    --error-colour: #f44336;
    --success-colour: #4caf50;
    --link-colour: #8AB4F8;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    min-height: 100vh;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

h1, h2, h3, h4 {
    color: #00ADB5;
}

.main {
    height: 100%;
    padding-top: 20px;
    position: relative;
}

#page-loading {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 900;
    background: grey;
    align-content: center;
}

#page-loading .spinner {
    height: 100px;
    width: 100px;
    margin: auto;
}

.header {
    text-align: center;
}

.header .logo {
    font-weight: bold; 
    font-size: 50px;
}

.content-disabled-banner {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px solid var(--error-colour);
    min-height: 50px;
    align-items: center;
    padding: 10px;
    color: var(--error-colour);
}

.content-disabled-banner a {
    color: var(--link-colour);
}

.cookie-banner {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px solid white;
    min-height: 50px;
    align-items: center;
    padding: 10px;
}

.cookie-banner-text {
    vertical-align: middle;
    display: inline;
}

#cookie-banner-accept-button {
    background: white;
    min-width: 80px;
    min-height: 30px;
}

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error-notification {
    position: relative;
    background-color: var(--error-colour);
    color: white;
    padding: 30px 10px 10px 22px;
    border-radius: 6px;
    width: 250px;
    animation: slideIn 0.5s ease-out;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    line-height: 1;
}

.close-button * {
    pointer-events: none;
}

.close-symbol {
    display: block;
    font-size: 30px;
    line-height: 1;
}

.spinner {
    display: block;
    height: 20px;
    width: 20px;
    border: 4px solid darkgrey;
    border-top: 4px solid white;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    background-color: transparent;
}

.success-button {
    background: linear-gradient(to right, var(--success-colour) 0%, white 20%, white 40%, white 60%, white 80%, var(--success-colour) 100%);
    cursor: not-allowed;
}

.error-button {
    background: linear-gradient(to right, var(--error-colour) 0%, white 20%, white 40%, white 60%, white 80%, var(--error-colour) 100%);
    cursor: not-allowed;
}

.success-svg {
    background: transparent;
    height: 30px;
    width: 30px;
}

.error-svg {
    background: transparent;
    height: 30px;
    width: 30px;
}

form[inert] {
    opacity: 0.5;
    border: 1px solid red;
    /* filter: grayscale(1); */
}

form[inert] input,
form[inert] button {
    border: 1px solid red;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        padding: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.fade-out, .fade-out * {
    animation: fade-out 0.5s ease-out forwards;
}

@media (max-width: 400px) {
    .cookie-banner {
        flex-direction: column;
        gap: 8px;
    }
}