:root {
    --error-colour: #f44336;
    --success-colour: #4caf50;
    --link-colour: #8AB4F8;
    --emphasis-colour: #00ADB5;
    --nav-width: 160px;
    --background-colour: #222831;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
}

body {
    background-color: var(--background-colour);
    color: #EEEEEE;
    min-height: 100vh;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

h1, h2, h3, h4 {
    color: var(--emphasis-colour);
}

.main {
    min-height: 100vh;
    position: relative;
}

#page-loading {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 900;
    background: grey;
    align-content: center;
}

#page-loading .spinner {
    height: 100px;
    width: 100px;
    margin: auto;
}

.header {
    text-align: center;
}

.header .logo {
    font-weight: bold; 
    font-size: 50px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    width: var(--nav-width);
    min-height: 100vh;
    border-right: 1px solid white;
    padding-bottom: 30px;
}

nav .logo {
    font-weight: bold;
    font-size: 40px;
}

nav .nav-top {
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

/* `> *` targets direct children only */
nav * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

nav .nav-item {
    height: 40px;
    background: inherit;
    border: none;
    border-top: 1px solid grey;
    color: var(--emphasis-colour);
    font-size: 25px;
}

nav .nav-item:hover {
    background-color: white;
    cursor: pointer;
}

.content-disabled-banner {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px solid var(--error-colour);
    min-height: 50px;
    align-items: center;
    padding: 10px;
    color: var(--error-colour);
}

.content-disabled-banner a {
    color: var(--link-colour);
}

.cookie-banner {
    display: flex;
    justify-content: center;
    gap: 30px;
    border: 1px solid white;
    min-height: 50px;
    align-items: center;
    padding: 10px;
}

.cookie-banner-text {
    vertical-align: middle;
    display: inline;
}

#cookie-banner-accept-button {
    background: white;
    min-width: 80px;
    min-height: 30px;
}

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.success-notification {
    position: relative;
    background-color: var(--success-colour);
    color: white;
    padding: 30px 10px 10px 22px;
    border-radius: 6px;
    width: 250px;
    animation: slideIn 0.5s ease-out;
}

.error-notification {
    position: relative;
    background-color: var(--error-colour);
    color: white;
    padding: 30px 10px 10px 22px;
    border-radius: 6px;
    width: 250px;
    animation: slideIn 0.5s ease-out;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    line-height: 1;
}

.close-button * {
    pointer-events: none;
}

.close-symbol {
    display: block;
    font-size: 30px;
    line-height: 1;
}

.spinner {
    display: block;
    height: 20px;
    width: 20px;
    border: 4px solid darkgrey;
    border-top: 4px solid white;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    background-color: transparent;
}

.success-button {
    background: linear-gradient(to right, var(--success-colour) 0%, white 20%, white 40%, white 60%, white 80%, var(--success-colour) 100%);
    cursor: not-allowed;
}

.error-button {
    background: linear-gradient(to right, var(--error-colour) 0%, white 20%, white 40%, white 60%, white 80%, var(--error-colour) 100%);
    cursor: not-allowed;
}

.success-svg {
    background: transparent;
    height: 30px;
    width: 30px;
}

.error-svg {
    background: transparent;
    height: 30px;
    width: 30px;
}

#success-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 95%;
    max-width: 500px;
    padding: 10px;
}

.successful-link-create {
    position: relative;
    padding: 5px;
    border: solid 1px var(--success-colour);
    border-radius: 12px;
    text-align: center;
}

.successful-link-create-header {
    display: inline-block;
}

.short-url-created {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    border: dotted 2px grey;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 5px;
}

.short-url-created p {
    display: inline-block;
    border-radius: 6px;
    margin-right: 5px;
}

.short-url-created button {
    padding: 3px;
    border: solid 1px grey;
    border-radius: 6px;
    cursor: pointer;
}

.arrow-to-destination-svg {
    max-height: 30px;
    vertical-align: middle;
}

.destination-url {
    display: inline-block;
    max-width: calc(100% - 40px);
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pointer-cursor {
    cursor: pointer;
}

form[inert] {
    opacity: 0.5;
    border: 1px solid red;
    /* filter: grayscale(1); */
}

form[inert] input,
form[inert] button {
    border: 1px solid red;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        padding: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.fade-out, .fade-out * {
    animation: fade-out 0.5s ease-out forwards;
}

@media (max-width: 400px) {
    .cookie-banner {
        flex-direction: column;
        gap: 8px;
    }
}