* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
}

body {
    /* background-color: #A8DADC; */
    min-height: 100vh;
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

#index-main {
    height: 100%;
    padding-top: 20px
}

#index-header {
    text-align: center;
}

#index-logo {
    font-weight: bold; 
    font-size: 50px;
}

#index-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: flex-start;
}

#index-create-url-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto 0 auto;
}

#index-create-url-description {
    margin-bottom: 8px;
}

#index-create-url-input {
    height: 40px;
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    border: 1px solid grey;
    border-radius: 8px;
}

#index-create-url-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
}

#index-success-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 95%;
    max-width: 500px;
    padding: 10px;
}

.successful-link-create {
    position: relative;
    padding: 5px;
    border: solid 1px grey;
    border-radius: 12px;
    text-align: center;
}

.successful-link-create-header {
    display: inline-block;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    line-height: 1;
}

.close-button * {
    pointer-events: none;
}

.close-symbol {
    display: block;
    font-size: 30px;
    line-height: 1;
}

.short-url-created {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    border: dotted 2px grey;
    border-radius: 6px;
    padding: 3px;
    margin-bottom: 5px;
}

.short-url-created p {
    display: inline-block;
    border-radius: 6px;
    margin-right: 5px;
}

.short-url-created button {
    padding: 3px;
    border: solid 1px grey;
    border-radius: 6px;
    cursor: pointer;
}

.arrow-to-destination-svg {
    max-height: 30px;
    vertical-align: middle;
}

.destination-url {
    display: inline-block;
    max-width: calc(100% - 40px);
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spinner {
    display: block;
    height: 20px;
    width: 20px;
    border: 4px solid darkgrey;
    border-top: 4px solid white;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    background-color: transparent;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0;
        padding: 0;
    }
}

.fade-out, .fade-out * {
    animation: fade-out 0.5s ease-out forwards;
}